{% extends 'base_dash.html' %}

{% load static %}

{% comment %} {% block notification %}
<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-bell" style="color:white; font-size:20px;"></i>
        <span class="badge badge-warning navbar-badge" id="domainCountBadge">{{ domain_count }}</span>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-item dropdown-header">Domains due expiry</span>
        <div class="dropdown-divider"></div>
        <div id="domainDropdownItems">
            {% for domain in expiring_domains %}
            <a href="#" class="dropdown-item">
                <i class="far fa-circle mr-2"></i>{{ domain.name }}
                <span class="float-right text-muted text-sm">{{ domain.remaining_days }} days</span>
            </a>
            {% endfor %}
        </div>
        
        <div class="dropdown-divider"></div>
    </div>
</li>
{% endblock %} {% endcomment %}

{% block content %}
<style>
    .updated-column {
        white-space: nowrap;
    }
    .date{
        white-space: nowrap;
    }
</style>
<div class="col-lg-12 mx-1">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <h4 class="display-6">Domain Status</h4>
            </div>
            <div class="col-md-4 text-right">
                <button id="exportButton" type="submit" class="btn btn-outline-success" id="updateDomainsButton">
                    <i class="fas fa-file-export"></i> Export Data
                </button>
            </div>
        </div> 
        <hr class="my-4">
        <table class="display" id="domainTable">
            <thead class="border-bottom font-weight-bold">
                <tr>
                    <td> Domain<br> Name </td>
                    <td> Date of <br> Registration</td>
                    <td> Date of <br> Expiry</td>
                    <td> Company <br><br></td>
                    <td > Registrar <br> Name</td>
                </tr>
            </thead>
            <tbody>
                {% for domain in domains %}
                <tr>
                    <td> {{ domain.name }} </td>
                    <td class="date"> {{ domain.registration_date }} </td>
                    <td class="date"> {{ domain.expiry_date }} </td>
                    <td> {{ domain.company }} </td>
                    <td >{{domain.registrar_name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block js %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#domainTable').DataTable({
            lengthChange: false,
            pageLength: 10,
            initComplete: function () {
                // Delay the execution by 100 milliseconds
                setTimeout(function () {
                    fetchAndUpdateUpdatedColumn(table);
                }, 100);
                this.api().columns().every(function (index) {
                    // Check if it's the 1st or 4th column (index 0 or 3)
                    if (index === 0 || index === 3) {
                        let column = this;
                        let title = column.header().textContent;

                        // Create input element
                        let input = document.createElement('input');
                        input.placeholder = title;

                        // Append input to the header row
                        $(column.header()).append(input);

                        // Event listener for user input
                        input.addEventListener('keyup', () => {
                            if (column.search() !== input.value) {
                                column.search(input.value).draw();
                            }
                        });
                    }
                });
            }
        });

        
        // Add an event listener to the export button
        $('#exportButton').on('click', function () {
            exportDataToExcel();
        });

        // Function to export data to Excel
        function exportDataToExcel() {
            // Check if DataTable is initialized
            if (!table) {
                console.error('DataTable is not initialized. Aborting exportDataToExcel.');
                return;
            }

            // Check if DataTable has rows
            if (!table.rows) {
                console.error('DataTable does not have rows. Aborting exportDataToExcel.');
                return;
            }

            // Iterate through each row and fetch data
            const exportData = [];
            table.rows().every(function () {
                const row = this.node();
                const domainName = $(row).find('td:eq(0)').text().trim();
                const registrationDate = $(row).find('td:eq(1)').text().trim();
                const expiryDate = $(row).find('td:eq(2)').text().trim();
                const company = $(row).find('td:eq(3)').text().trim();
                const registrarName = $(row).find('td:eq(4)').text().trim();

                exportData.push({
                    domainName,
                    registrationDate,
                    expiryDate,
                    company,
                    registrarName,
                });
            });

            // Create a worksheet with the extracted data
            const ws = XLSX.utils.json_to_sheet(exportData);

            // Create a workbook and add the worksheet
            const wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, ws, 'DomainData');

            // Save the workbook to an Excel file
            XLSX.writeFile(wb, 'exported_domain_data.xlsx');
        }
    });
</script>


{% endblock %}
